* {
  background-color: lightsteelblue;
}
#loginlinks {
  display: flex;
  gap: 30px
}

.addStepButton {
  position: fixed;
  right: 0px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
  margin-right: 50px;
  margin-top: 40px;
}

.addStepTop {
  display: flex;
  gap: 80px;
  align-items: center;
}

.body {
  margin-top: 70px;
}

.createTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  color: white;
  background-color: red; 
  max-width: 150px;
}

.login-reroute {
  display: flex;
  align-items: center;
  gap: 10px
}

.modal {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
  position: fixed;
  border: solid;
  border-color: black;
}

.modalTop {
  display: flex;
  gap: 60px;
  align-items: center;
}

.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmapContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.roadmapPreview {
  display: flex;
  border-radius: 8px;
  border: solid;
  background-color: white;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.roadmapSubmit {
  position: fixed;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  width: 10%;
  font-size: 20px;
  background-color: white;
  font-weight: bold;
  margin: 40px auto 0;
}

.roadmapTitle {
  width: 700px;
  margin: 30px auto 0;
  font-size: 40px;
}

.sign-in-title {
  font-size: 55px;
}

.sign-in-container {
  display: flex;
  border: solid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stepIconWrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: none;
}

.stepIcon {
  padding: 20px;
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  cursor: pointer;
}

.stepTitle {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: solid;
}

.viewcreate {
  display: flex;
  justify-content: space-around;
  width: 90%
}

.viewcreate a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.viewcreate a:hover {
  color: darkblue;
}

button {
  padding: 10px 20px;
  background-color: lightslategray;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  border: solid;
}

button:hover {
  background-color: lightblue;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-right: 10px;
}

input {
  margin-bottom: 30px;
}